<h1><center> DM ASSIGNEMNT (Attrition) </center></h1>

Process involved in Data Mining:
    1. Understanding requirements:
        a) Business Understanding
        b) Data Understanding
    2. Preparing Data
    3. Building Model
    4. Applying the model
    5. Evaluating Model
    6. Deployment

1. Understanding requirements:<br>

    1.a) Business Requirements:
         Aim:
          The aim of this exercise is to "Analyze and Build models for Predicting (Employee) Attrition".
          
         Problem to be solved:
          Given the data set predit whether an amployee will leave teh prganization or not based on the give attributes
        
    1.b) Data Understanding:<br>
          Here as part of Understanding the data, we perform following steps:
          1.b.i) Asses the data Size
          1.b.ii) Understand the type of attributes
          1.b.iii) Data Processing
              1.b.iii.a) Data PreProcessing, Finding missing inconsistent data

<label>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>

<h3>0) Reading the data set</h3>
The following code reads the given data set from 'Attrition.csv' file and reads the data set.

<h5>a) Reading the data set and consoling the top two rows</h5>

In [32]:
import numpy as np
import pandas as pd
import seaborn as sns

df = pd.read_csv('Attrition.csv')
df.head(2)

,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Yes,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,3,1,0,8,0,1,6,4,0,5
1,No,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,4,1,10,3,3,10,7,1,7

<label>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>

<h3>1) Understanding requirements:</h3>
<h4 style="padding-left: 10px">a) Business Requirements Understanding:</h4><br>
<strong style="padding-left: 30px">Aim:</strong><br>
<span style="padding-left: 30px">The aim of this exercise is to "Analyze and Build models for Predicting (Employee) Attrition".</span>

<strong style="padding-left: 30px">Problem to be solved:</strong><br>
<span style="padding-left: 30px">Given the data set predit whether an amployee will leave teh prganization or not based on the give attributes</span>

<h4 style="padding-left: 10px">a) Data Understanding:</h4>
<span style="padding-left: 30px">Data Understanding has the following steps being taken<br></span>
<span style="padding-left: 30px">a) Assesing the Size of dataset<br></span>
<span style="padding-left: 30px">b) Getting attributes and their types<br></span>
<span style="padding-left: 30px">c) Filtering out the Qualitative attributes<br></span>
<span style="padding-left: 30px">d) Getting quantative attributes<br></span>
<span style="padding-left: 30px">Balanced or imbalanced dataset</span>

<h5>a) Assesing the Size of dataset (rows x columns)</h5>

In [33]:
df.shape

(1470, 33)

<h5>b) Getting attributes and their types</h5>

In [34]:
df.dtypes

Attrition                   object
Age                          int64
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome            object
Education                   object
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                  object
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome               object
MonthlyRate                 object
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

<h5>c) Filtering out the Qualitative attributes</h5>
Pandas "df.dtypes" if is an "object" means it has string values, hence these can be classified as Qualitative attributes

In [35]:
# Creating a copy of dataset
dfCopy = df.copy()

# Replace the NAN with python NaN
dfCopy.replace("NAN", np.NaN,inplace=True)

# Dropping the NaN values for analysis using pandas dropna()
dfCopy.dropna (inplace = True)

qualitative_features = [feature for feature in dfCopy.columns if dfCopy[feature].dtypes == 'object']
print("Qualitiative Features: ", len(qualitative_features))
print(qualitative_features)
print('----------------------------------------')

for column in qualitative_features:

        # Lists all coloumns and unique value in them
        print(str(column) + ' : ' + str(dfCopy[column].unique()))

        # Diplays count of each value of the column
        print(dfCopy[column].value_counts())

        print("_________________________________________________________________")

Qualitiative Features:  14
['Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'Gender', 'HourlyRate', 'JobRole', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'Over18', 'OverTime']
----------------------------------------
Attrition : ['Yes' 'No']
No     1214
Yes     235
Name: Attrition, dtype: int64
_________________________________________________________________
BusinessTravel : ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Travel_Rarely        1027
Travel_Frequently     274
Non-Travel            148
Name: BusinessTravel, dtype: int64
_________________________________________________________________
Department : ['Sales' 'Research & Development' 'Human Resources']
Research & Development    948
Sales                     438
Human Resources            63
Name: Department, dtype: int64
_________________________________________________________________
DistanceFromHome : ['1' '8' '2' '3' '24' '23' '16' '15' '26' '19' '21' '5' '11' '9' '7' '6'
 '10' '4' '25' '12' '18' '22' '14' '20' '28' '29' '17' '27' '13']
1     206
2     205
10     85
9      85
7      84
3      82
8      79
4      64
5      63
6      57
16     32
11     29
24     28
18     26
23     26
29     26
15     26
20     25
25     25
26     24
28     23
19     22
14     21
17     20
12     20
13     19
22     19
21     17
27     11
Name: DistanceFromHome, dtype: int64
_________________________________________________________________
Education : ['2' '1' '4' '3' '5']
3    563
4    396
2    278
1    167
5     45
Name: Education, dtype: int64
_________________________________________________________________
EducationField : ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Life Sciences       599
Medical             454
Marketing           156
Technical Degree    131
Other                82
Human Resources      27
Name: EducationField, dtype: int64
_________________________________________________________________
Gender : ['Female' 'Male']
Male      870
Female    579
Name: Gender, dtype: int64
_________________________________________________________________
HourlyRate : ['94' '61' '92' '56' '40' '79' '81' '67' '44' '84' '49' '31' '93' '50'
 '51' '80' '96' '78' '45' '82' '53' '83' '58' '72' '48' '42' '41' '86'
 '97' '75' '33' '37' '73' '98' '36' '71' '30' '43' '99' '59' '95' '57'
 '76' '87' '66' '55' '32' '52' '70' '62' '64' '63' '60' '100' '46' '39'
 '77' '47' '35' '91' '54' '34' '90' '65' '88' '85' '89' '68' '69' '74'
 '38']
66    29
84    28
48    28
96    27
42    27
      ..
63    15
68    14
53    14
38    13
34    12
Name: HourlyRate, Length: 71, dtype: int64
_________________________________________________________________
JobRole : ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Manager' 'Sales Representative'
 'Research Director' 'Healthcare Representative' 'Human Resources']
Sales Executive              319
Research Scientist           288
Laboratory Technician        254
Manufacturing Director       143
Healthcare Representative    130
Manager                      101
Sales Representative          82
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64
_________________________________________________________________
MaritalStatus : ['Single' 'Married' 'Divorced']
Married     660
Single      465
Divorced    324
Name: MaritalStatus, dtype: int64
_________________________________________________________________
MonthlyIncome : ['5993' '5130' '2090' ... '9991' '5390' '4404']
2342    4
2610    3
6142    3
2404    3
2741    3
       ..
4523    1
5487    1
5980    1
6553    1
5220    1
Name: MonthlyIncome, Length: 1331, dtype: int64
_________________________________________________________________
MonthlyRate : ['19479' '24907' '2396' ... '5174' '13243' '10228']
4223     3
9150     3
15891    2
24444    2
15318    2
        ..
21777    1
4386     1
3010     1
13401    1
5220     1
Name: MonthlyRate, Length: 1406, dtype: int64
_________________________________________________________________
Over18 : ['Y']
Y    1449
Name: Over18, dtype: int64
_________________________________________________________________
OverTime : ['Yes' 'No']
No     1037
Yes     412
Name: OverTime, dtype: int64
_________________________________________________________________

<strong>Explanation:</strong><br>
The Qualitative data types are as follows. There are total 14 attributes that fall under the this category. We extracted them based on the datatype assigned by pandas library as 'object'. Hence, these can be categorical, discrete, binary etc type of data<br>
<table style="border: 1px solid; width: 100%">
    <tr>
        <td style="text-align: left; border: 1px solid">'Attrition'</td>
        <td style="text-align: left; border: 1px solid">'BusinessTravel'</td>
        <td style="text-align: left; border: 1px solid">'Department'</td>
        <td style="text-align: left; border: 1px solid">'DistanceFromHome'</td>
        <td style="text-align: left; border: 1px solid">'Education'</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 1px solid">'EducationField'</td>
        <td style="text-align: left; border: 1px solid">'Gender'</td>
        <td style="text-align: left; border: 1px solid">'HourlyRate'</td>
        <td style="text-align: left; border: 1px solid">'JobRole'</td>
        <td style="text-align: left; border: 1px solid">'MaritalStatus'</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 1px solid">'MonthlyIncome'</td>
        <td style="text-align: left; border: 1px solid">'MonthlyRate'</td>
        <td style="text-align: left; border: 1px solid">'Over18'</td>
        <td style="text-align: left; border: 1px solid">'OverTime'</td>
    </tr>
</table>

<h5>c) Getting quantative attributes</h5><br>

In [36]:
quantitaive_features = [feature for feature in dfCopy.columns if dfCopy[feature].dtypes == 'int64']

print("Quantitative Features: ", len(quantitaive_features))
print(quantitaive_features)
print("-----------------------------------")

for column in quantitaive_features:

        # Lists all coloumns and unique value in them
        print(str(column) + ' : ' + str(dfCopy[column].unique()))

        # Diplays count of each value of the column
        print(dfCopy[column].value_counts())

        print("_________________________________________________________________")

Quantitative Features:  19
['Age', 'DailyRate', 'EmployeeNumber', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
-----------------------------------
Age : [41 49 37 33 27 32 59 30 38 35 29 31 34 28 22 53 24 36 21 42 44 46 43 50
 26 48 55 45 56 23 51 40 54 58 20 25 19 39 57 52 47 18 60]
35    78
34    74
31    69
29    67
36    67
32    61
30    60
33    58
40    57
38    57
37    49
28    48
27    47
42    46
39    41
45    40
41    40
26    38
46    33
44    33
43    31
50    29
24    26
25    25
49    24
47    23
55    22
51    19
53    19
52    18
54    18
48    18
22    15
56    14
58    14
23    13
21    12
20    11
59    10
19     8
18     8
60     5
57     4
Name: Age, dtype: int64
_________________________________________________________________
DailyRate : [1102  279 1373 1392  591 1005 1324 1358  216  809  153  670 1346  103
 1389  334 1123 1219  371  673 1218  419  391  699 1282 1125  691  477
  705  924 1459  125  813 1273  869  890  852 1141  464 1240 1357  994
  721 1360 1065  408 1211 1229  626 1434 1488 1097  515  853 1142  655
 1115  427  989 1435 1223  836 1195 1339  664  318 1225 1328 1082  548
  132  746  776  193  397  945 1214  111  573 1153 1400  541  432  288
  669  530  632 1334  638 1093 1217 1353  120  682  489  807  827  871
  665 1040 1420  240 1280  534 1456  658  142 1127 1031 1189 1354 1467
  922  394 1312  750  441  684  249  841  147  528  594  470  957  542
  802 1355 1150 1329  959 1033 1316  364  438  689  201 1427  857  933
 1395  662 1436  194  967 1496 1169 1145  630  303 1256  440 1450 1452
  465  702 1157  602 1480 1268  713  134  526 1380  140  629 1356  328
 1084  931  692  313  894  556 1344  290  138  926 1261  472 1002  878
  905 1180  121  635 1151  644 1045  829 1242 1469  896  992 1147 1396
  663  119  979  319 1413  944 1323  532  818  854 1034  771 1401 1431
  976 1411 1300  252 1327  832 1017 1199  504  505  916 1247  685  269
 1416  833  307 1311  128  488  529 1463  675 1385 1403  452  666 1158
  228  728 1315  322 1479  797 1070  442  496 1372  920  688 1449 1117
  636  506  444  950  889  555  230 1232  566 1302  812 1476  218 1132
 1105  906  849  390  106 1249  192  553  117  185 1091  723 1220  588
 1377 1018 1275  798  672 1162  508 1482  559  210  928 1001  549 1124
  738  570 1192  343  144 1296 1309  483  810  544 1062 1319  641 1332
  756  845  593 1171  895  350 1144  143 1046  575  156 1283  755  304
 1178  329 1362 1371  202  253 1107  759 1305  982  821 1381  480 1473
  891 1063  645 1490  317  422 1485 1368 1448  296 1398 1349  986 1099
 1116 1499 1009 1303 1274 1277  587  413 1276  988 1474  267  619  302
  443  828  561  426  232 1306 1094  509  775  195  258  471  799  956
  535 1495  446 1245  703  823 1246  622 1287  448 1365  538  525  558
  782  362 1236 1112  204 1343  604 1216  646  160  238  306  991  482
 1176  913 1076  727  885  243  806  817 1410 1207 1442  693  929  562
  608  580  970 1179  294  314  316  654  168  381  217  501  650  141
  804  975 1090  346  430  268  167  621  527  954  310  719  725  715
  657 1146  182  376  571  384  921  791 1111 1092 1325  805  213  118
  676 1252  286 1258  932 1041  859  720  946 1184  436  589  760  887
 1318  625  180  586 1012  661  930  342 1230 1271 1278  607  130  300
  583 1418 1269  379  395 1265 1222  341  868 1231  102 1383 1075  374
 1086  781  177  500 1425 1454  617 1085  995 1122  618  546  462 1198
 1272  154 1137 1188  188 1333  867  263  938  129  616  498 1069 1404
 1053  289 1376  231  152  882  903 1379  335  722  461  974 1126  840
 1134  248  955  939 1391 1206  287 1441  109 1066  277  466 1055  265
  135  247 1035  266  145 1038 1234 1109 1089  788  124  660 1186 1464
  796  415  769 1003 1366  330 1492 1204  309 1330  469  697 1262 1050
  770  406  203 1308  984  439  793 1451 1182  174  490  718  433  773
  603  874  367  199  481  647 1384  902  819  862 1457  977  942 1402
 1421 1361  917  200  150  179  696  116  363  107 1465  458 1212 1103
  966 1010  326 1098  969 1167  694 1320  536  373  599  251  131  237
 1429  648  735  531  429  968  879  640  412  848  360 1138  325 1322
  299 1030  634  524  256 1060  935  495  282  206  943  523  507  601
  855 1291 1405 1369  999 1202  285  404  736 1498 1200 1439  499  205
  683 1462  949  652  332 1475  337  971 1136 1174  667  560  172  383
 1255  359  401  377  592 1445 1221  866  981  447 1326  748  990  405
  115  790  830 1193 1423  467  271  410 1083  516  224  136 1029  333
 1440 1210  674 1342  898  824  492  598  740  888 1288  104 1108  479
 1351  474  437  884 1370  264 1059  653  563  457 1313  241 1015  336
 1387  170  208  671  711  737 1470  365  763  567  486  772  301 1130
  311  584  880  392  148  708 1259  786  370  678  146  581  918 1238
  585  741  552  369  717  543  964  163  792  611  176  897  600 1054
  428  181  211 1079  590  305  953  478 1375  244  511 1294  196  734
 1239 1181 1253 1128 1336  234  766  261 1194  431  572 1422 1297  574
  355  207  706  280  726  414  352 1224  459 1254 1131  835 1172 1266
  783  219 1213 1096 1251 1443 1394  605 1064 1337  937  157  754 1168
  155 1444  189  911 1321 1154  557  642  801  161 1382 1037  105  582
  704  345 1120 1378  468  613 1023  628]
691     6
1082    5
408     5
530     5
1329    5
       ..
898     1
897     1
891     1
889     1
102     1
Name: DailyRate, Length: 876, dtype: int64
_________________________________________________________________
EmployeeNumber : [   1    2    4 ... 2064 2065 2068]
2046    1
653     1
656     1
657     1
659     1
       ..
1373    1
1374    1
1375    1
1377    1
2048    1
Name: EmployeeNumber, Length: 1449, dtype: int64
_________________________________________________________________
EnvironmentSatisfaction : [2 3 4 1]
3    448
4    439
2    281
1    281
Name: EnvironmentSatisfaction, dtype: int64
_________________________________________________________________
JobInvolvement : [3 2 4 1]
3    856
2    368
4    142
1     83
Name: JobInvolvement, dtype: int64
_________________________________________________________________
JobLevel : [2 1 3 4 5]
1    535
2    524
3    216
4    105
5     69
Name: JobLevel, dtype: int64
_________________________________________________________________
JobSatisfaction : [4 2 3 1]
4    449
3    438
1    286
2    276
Name: JobSatisfaction, dtype: int64
_________________________________________________________________
NumCompaniesWorked : [8 1 6 9 0 4 5 2 7 3]
1    509
0    197
3    158
2    144
4    139
7     72
6     67
5     62
9     52
8     49
Name: NumCompaniesWorked, dtype: int64
_________________________________________________________________
PercentSalaryHike : [11 23 15 12 13 20 22 21 17 14 16 18 19 24 25]
11    208
13    205
14    198
12    196
15    101
18     88
17     80
16     77
19     74
22     56
20     53
21     47
23     27
24     21
25     18
Name: PercentSalaryHike, dtype: int64
_________________________________________________________________
PerformanceRating : [3 4]
3    1227
4     222
Name: PerformanceRating, dtype: int64
_________________________________________________________________
RelationshipSatisfaction : [1 4 2 3]
3    454
4    426
2    298
1    271
Name: RelationshipSatisfaction, dtype: int64
_________________________________________________________________
StockOptionLevel : [0 1 3 2]
0    625
1    586
2    154
3     84
Name: StockOptionLevel, dtype: int64
_________________________________________________________________
TotalWorkingYears : [ 8 10  7  6 12  1  5  3 31 13  0 26 24 22  9  2 23 14 15  4 29 28 17 21
 25 20 11 16 37 38 30 40 18 19 36 34 32 33 35 27]
10    197
6     123
8     101
9      96
5      87
7      81
1      79
4      62
12     48
3      41
15     40
16     37
13     36
11     36
21     34
2      31
17     31
14     30
20     29
18     27
19     21
22     21
23     21
24     18
25     14
28     14
26     14
0      11
29     10
32      9
31      8
27      7
30      7
33      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: TotalWorkingYears, dtype: int64
_________________________________________________________________
TrainingTimesLastYear : [0 3 2 5 1 4 6]
2    537
3    485
4    121
5    118
1     70
6     64
0     54
Name: TrainingTimesLastYear, dtype: int64
_________________________________________________________________
WorkLifeBalance : [1 3 2 4]
3    880
2    338
4    151
1     80
Name: WorkLifeBalance, dtype: int64
_________________________________________________________________
YearsAtCompany : [ 6 10  0  8  2  7  1  9  5  4 25  3 12 14 22 15 27 21 17 11 13 37 16 20
 40 24 33 19 36 18 29 31 32 34 26 30 23]
5     194
1     169
2     126
3     126
10    116
4     109
7      89
9      81
8      79
6      74
0      42
11     32
20     27
13     24
15     20
14     18
22     15
12     14
21     14
18     13
16     12
19     10
17      9
24      6
33      5
25      4
26      4
32      3
31      2
36      2
27      2
29      2
23      2
30      1
34      1
37      1
40      1
Name: YearsAtCompany, dtype: int64
_________________________________________________________________
YearsInCurrentRole : [ 4  7  0  2  5  9  8  3  6 13  1 15 14 16 11 10 12 18 17]
2     368
0     239
7     218
3     134
4     103
8      89
9      64
1      57
6      36
5      34
10     29
11     22
13     14
14     11
12     10
15      8
16      7
17      4
18      2
Name: YearsInCurrentRole, dtype: int64
_________________________________________________________________
YearsSinceLastPromotion : [ 0  1  3  2  4  8  6  5 15  7 13 12 10 11  9 14]
0     573
1     352
2     158
7      75
4      61
3      52
5      45
6      31
11     24
8      17
9      15
15     13
13     10
12      9
14      8
10      6
Name: YearsSinceLastPromotion, dtype: int64
_________________________________________________________________
YearsWithCurrManager : [ 5  7  0  2  6  8  3 11 17  1  4 12  9 10 15 13 16 14]
2     342
0     256
7     212
3     140
8     105
4      96
1      76
9      62
5      31
6      29
10     27
11     22
12     18
13     14
17      7
14      5
15      5
16      2
Name: YearsWithCurrManager, dtype: int64
_________________________________________________________________

<strong>Explanation:</strong><br>
The Qaunitative data types are as follows. There are total 19 attributes that fall under the quanititaive category. We extracted them based on their datatype assigned by pandas library as 'int64'.<br>
<table style="border: 1px solid; width: 100%">
    <tr>
        <td style="text-align: left; border: 1px solid">'Age'</td>
        <td style="text-align: left; border: 1px solid">'DailyRate'</td>
        <td style="text-align: left; border: 1px solid">'EmployeeNumber'</td>
        <td style="text-align: left; border: 1px solid">'EnvironmentSatisfaction'</td>
        <td style="text-align: left; border: 1px solid">'JobInvolvement'</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 1px solid">'JobLevel'</td>
        <td style="text-align: left; border: 1px solid">'JobSatisfaction'</td>
        <td style="text-align: left; border: 1px solid">'NumCompaniesWorked'</td>
        <td style="text-align: left; border: 1px solid">'PercentSalaryHike'</td>
        <td style="text-align: left; border: 1px solid">'PerformanceRating'</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 1px solid">'RelationshipSatisfaction'</td>
        <td style="text-align: left; border: 1px solid">'StockOptionLevel'</td>
        <td style="text-align: left; border: 1px solid">'TotalWorkingYears'</td>
        <td style="text-align: left; border: 1px solid">'TrainingTimesLastYear'</td>
        <td style="text-align: left; border: 1px solid">'WorkLifeBalance'</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 1px solid">'YearsAtCompany'</td>
        <td style="text-align: left; border: 1px solid">'YearsInCurrentRole'</td>
        <td style="text-align: left; border: 1px solid">'YearsSinceLastPromotion'</td>
        <td style="text-align: left; border: 1px solid">'YearsWithCurrManager'</td>
    </tr>
</table>

In [37]:
# import image module
from IPython.display import Image
  
# get the image
Image(url="FilesForNotebook/Qualitative_attributes.png")

In [38]:
Image(url="FilesForNotebook/Quantitative_attributes.png")

<label>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>

<h3>2) Preparing Data</h3>

<h5 style="padding-left: 15px">a) Identifying Missing Data, Inconsistent Data</h5>
<span style="padding-left: 30px">Looking at the data set we can find Data set contains NAN, this step aims to figure the amount of Missing Data we are having in the data set</span>

In [77]:
# Creating a copy of dataset
dfCopy = df.copy()

# Replace the NAN with python NaN
dfCopy.replace("NAN", np.NaN,inplace=True)

totalRows = len(dfCopy.index);

for column in dfCopy:

        # Lists all coloumns and unique value in them
        if (dfCopy[column].isna().sum()) :
            print(str(column))
            print('    NAN count: ' + str(dfCopy[column].isna().sum()))
            print('    NAN ratio: ' + str(round((dfCopy[column].isna().sum() / totalRows), 3)))
            print('')

DistanceFromHome
    NAN count: 5
    NAN ratio: 0.003

Education
    NAN count: 1
    NAN ratio: 0.001

HourlyRate
    NAN count: 5
    NAN ratio: 0.003

MonthlyIncome
    NAN count: 5
    NAN ratio: 0.003

MonthlyRate
    NAN count: 5
    NAN ratio: 0.003

<strong>Analysis:</strong><br>
<label>From the above analysis we find that the "NAN" count is lesser than 1% for the data set, hence we can:</label>
<ol>
    <li>Drop the NAN records</li>
    <li>Fill the NAN values with the mean, mode or median value, but this needs further analysis on data distribution</li>
    <li>Use most probable value to fill in</li>
</ol>

<label>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>

<h3>2.1) Analyzing Data</h3>